{
  "env": {
    "main": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-2"
      ]
    },
    "test": {
      "presets": ["env", "stage-2"]
    }
  }
}
